<% for(var i=0; i<users.length;i++){ %>
     <% if(users[i].email=="admin@gmail.com"){continue}%>

<tr>
     <th scope="row" class="trbot"><%=i + 1%></th>
     <td class="trbot"><%= users[i].name %></td>
     <td class="trbot"><%= users[i].gender %></td>
     <td class="trbot"><%= users[i].email %></td>
     <td class="text-center">
          <a class="btn border-shadow update" href="/updateuser?id=<%= users[i]._id %>"> 
               <button type="button" class="btn btn-warning"><i class="fas fa-pencil-alt"></i></button>
          </a>
          <a class="btn border-shadow delete" data-id=<%= users[i]._id %>> 
               <button type="button" class="btn btn-danger" href="/deleteuser"><i class="fas fa-trash-alt"></i></button>
          </a>
     </td>
</tr>
<% } %>